[defaults]
# On pointe précisément vers le FICHIER hosts.ini dans le dossier inventaire
inventory = ./inventaire/hosts.ini
host_key_checking = False

[persistent_connection]
command_timeout = 180
connect_timeout = 180
